@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.card {
	position: relative;
	width: 600px;
	height: 350px;
	margin: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 20px;
	background: linear-gradient(135deg, #151515, #808080);
}
.card img {
	position: absolute;
	bottom: 20;
	left: 50%;
	transform: translateX(-50%);
	height: 250px;
	transition: 0.8s;
}
.card:hover img {
	left: 80%;
	height: 350px;
}
.card .content {
	position: relative;
	width: 50%;
	left: 20%;
	padding: 20px 20px 20px 40px;
	opacity: 0;
	visibility: hidden;
	transition: 0.8s;
}
.card:hover .content {
	left: 0%;
	opacity: 1;
	visibility: visible;
}
.content h2 {
	color: #f0f0f0;
	font-size: 40px;
	text-transform: uppercase;
	line-height: 70px;
}
.content p {
	color: #f0f0f0;
	font-size: 17px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}
.content a {
	text-decoration: none;
	color: #f0f0f0;
	background-color: #171717;
	padding: 5px 15px;
	border: none;
	border-radius: 8px;
}
